body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(untitled\ \(70\).png);
 }
.arav h1{
  font-size: 40px;
  color: black;
  text-align:center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 140px;
  left: 90px;
  text-align:center;
  padding: 10px 40px;
  
  
}
.avik h1{
  font-size: 40px;
  color: black;
  text-align:center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 40px ;
  left: 100px;
  text-align:center;
  padding: 10px 40px;
  
  
  
}