.title{
    float:left
}
body{
    background-color: white;
 
}
.paragraph h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}

.paragraph h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    
    
}
.wins h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-weight: bolder;
    padding-left: 400px;

}
.wins h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 300px;
    font-weight: lighter;
    

}
.a{
    
    padding-left: 150px;
}
.b{
    float: left;
    padding-left: 200px;
}
.updates h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-weight: bolder;
    padding-left: 500px;
}
.updates img{
    padding-left: 250px;
    
}
.updates h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-left: 200px;

}
.discord h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-weight: bolder;
    padding-left: 500px;
}
.discord h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    padding-left: 400px;
}
.discord a{
    padding-left: 400px;
}
.discord h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    padding-left: 470px;
}

.welcome h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200px;
    padding-left: 150px;
}
.welcome h2{
    font-family: cursive;
    font-size: 40px;
    padding-left: 200px;
}
.border{
    background-color: lightgray;
}
